@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'dancing-script';
	src: url(../fuentes/DancingScript-Regular.ttf)
}
body {
	background: #02010a;
	font-family: "dancing-script";	
}

header {
	background: #5b7989;
	color: white;
	text-shadow: 2px 2px 3px #02010a;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
}

#encabezado {	
	display: flex;
	flex-direction: column;
}

.encabezado {
	display: flex;
	flex-direction: row;
}

#encabezado .encabezado div{
	width: 50%;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}

nav {
	text-align: right;
}

h1::selection {
	background: white;
}

a {
	text-decoration: none;
	color: white;
	margin: 5px;
	padding: 5px 5px;
}

#contenido {
	text-align: center;
	display: flex;
	flex-direction: column;
}

#principal {
	background-color: #82c3a6;
	padding-top: 10px;
	padding-bottom: 10px;
}

#secundaria {
	background-color: #d5c75f;
	padding-top: 10px;
	padding-bottom: 10px;
}

.adaptativa-porcentaje {
	width: 80%;
	box-shadow: 2px 2px #02010a;
}

.adaptativa-porcentaje1 {
	width: 80%;
	border: solid 2px black;
	box-shadow: 2px 2px #02010a;
	transition-property: transform: rotate;
	transition-duration: 1s;
}

.adaptativa-porcentaje1:hover {
	transform: rotate(10deg);
}

.adaptativa-porcentaje2 {
	width: 80%;
	border: solid 2px black;
	box-shadow: 2px 2px #02010a;
	position: 5px 20px 0px 0px;
	transition-property: transform: translate;	
	transition-duration: 1s;	
}

.adaptativa-porcentaje2:hover {
	transform: translate(5px, -20px);
}

.imagenes{
	display: flex;
	flex-direction: row;
}

footer {
	background: #C6d5c5;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

footer div {
	width: 100%;
}

#piedepagina {	
	display: flex;
	flex-direction: column;
}

.piedepagina {
	display: flex;
	flex-direction: row;
}

.pies {
	margin: 0 center;
}

.icono {
	width: 15px
}

h2 {
	margin: 10px 0px 10px 0px;
}