@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'dancing-script';
	src: url(../fuentes/DancingScript-Regular.ttf)
}

#contenido {
	
	width: 900px;
	margin: 0 auto;
}

body {
	color: black;
	background: #02010a;
	font-family: "dancing-script";
	font-size: 16px;
}

#header {
	
	background: #5b7989;
	color: white;
	padding: 0% 1%;
	text-shadow: 2px 2px #02010a;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	flex-flow: row wrap;
}

#titulo {
	padding: 1% 0%;
	font-size: 1.5em;
	text-align: left;
	flex: auto;
}

#menu {
	padding: 1.2% 1%;
	font-size: 1em;
	text-align: right;
	flex: auto;
}

.imagen {
	width: 90%;
	box-shadow: 2px 2px #02010a;
}

.icono {
	width: 7%;
}

body::selection {
	background: white;
}

a {
	text-decoration: none;
	color: white;
	margin: 5px;
}

section {
	text-align: center;
}

#central {
	background-color: #82c3a6;
	padding: 1% 0%;
}

#secundaria {
	background-color: #d5c75f;
	padding: 1% 0%;
	box-sizing: border-box;
	text-align: center;	
}

.secundaria {
	box-sizing: border-box;
	height: 100%;
	background-color: #d5c75f;
	display: flex;
	
}

#izquierda {
	border: solid 2px black;
	box-shadow: 2px 2px #02010a;
	transition-property: transform: rotate;
	transition-duration: 1s;
}

#izquierda:hover {
	transform: rotate(10deg);
}

#derecha {
	border: solid 2px black;
	box-shadow: 2px 2px #02010a;
	position: 5px 20px 0px 0px;
	transition-property: transform: translate;	
	transition-duration: 1s;	
}

#derecha:hover {
	transform: translate(5px, -20px);
}

.imagenes{
	display: flex;
	flex-direction: row;
}

#footer {
	background: #C6d5c5;
	padding: 0% 1% 0.5% 1%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	flex-flow: row wrap;
}

#footer div {
	padding: 0% 1.8%;
}
